<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #2c3e50; /* Change the background color to grey */
      margin: 0;
      padding: 0;
    }

    h1 {
      text-align: center;
      margin-top: 20px;
      color: #d1dea7; /* Change the text color to a light grey-green */
    }

    h2 {
      margin-top: 30px;
      color: #d1dea7; /* Change the text color to a light grey-green */
      text-align: center;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: center; /* Center the content horizontally */
    }

    li {
      background-color: #86e0e7;
      padding: 15px;
      margin-bottom: 10px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.893);
      width: 600px; /* Set the width to 400px */
    }

    h3 {
      margin-top: 0;
      color: #2c3e50;
      text-align: center;
    }

    p {
      margin-top: 5px;
      color: #444;
      text-align: center;
    }

    a {
      display: block;
      text-align: right;
      margin-top: 10px;
      color: #3498db;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>
 
  <!-- profile.ejs -->

<h1>Welcome to your profile</h1>
<a href="/logout">Logout</a>
<h2>Quiz Scores:</h2>

<ul>
  <% user.quizScores.forEach((quizScore) => { %>
    <li>
      <h3>Quiz: <%= quizScore.quiz.quizName %></h3>
      <p>Score: <%= quizScore.score %></p>
    </li>
  <% }); %>
</ul>

</body>
</html>
