<!DOCTYPE html>
<html>
  <head>
    <title>Quiz Result</title>
  </head>
  <body>
    <h1>Quiz Result</h1>
    <p>Your score is <%= score %>/<%= totalQuestions %></p>
    <p>Percentage: <%= percentageScore.toFixed(2) %>%</p>
  </body>
</html>
